<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    
    <add key="Directory" value=".\" />
    
    <add key="Operation1" value="NodeSetToPackage" />
    <add key="NodeSetFile1" value="Opc.Ua.Robotics.NodeSet2.xml" />
    <add key="PackageFile1" value="Robotics.pckg" />
    <add key="ModelName1" value="Robotics"/>
    <add key="NodeTreeFile1" value ="Robotics.txt"/>
    
    <add key="Operation2" value="PackageToNodeSet" />
    <add key="PackageFile2" value="Robotics_out.pckg" />
    <add key="NodeSetFile2" value="Opc.Ua.Robotics.NodeSet2_out.xml" />
    <add key="ModelXmlFile2" value="Robotics.xml" />

    <add key="Operation3" value="NodeSetToPackage" />
    <add key="NodeSetFile3" value="Opc.Ua.CNC.NodeSet.xml" />
    <add key="PackageFile3" value="CNC.pckg" />
    <add key="ModelName3" value="CNC"/>
    <add key="NodeTreeFile3" value ="CNC.txt"/>

    <add key="Operation4" value="PackageToNodeSet" />
    <add key="PackageFile4" value="CNC_out.pckg" />
    <add key="NodeSetFile4" value="Opc.Ua.CNC.NodeSet_out.xml" />
    <add key="ModelXmlFile4" value="CNC.xml" />

    <add key="Operation5" value="NodeSetToPackage" />
    <add key="NodeSetFile5" value="HumanRobot.NodeSet2.xml" />
    <add key="PackageFile5" value="HumanRobot.pckg" />
    <add key="ModelName5" value="HumanRobot"/>
    <add key="NodeTreeFile5" value ="HumanRobot.txt"/>

    <add key="Operation6" value="PackageToNodeSet" />
    <add key="PackageFile6" value="HumanRobot_out.pckg" />
    <add key="NodeSetFile6" value="HumanRobot.NodeSet2_out.xml" />
    <add key="ModelXmlFile6" value="HumanRobot.xml" />

    <add key="Operation7" value="NodeSetToPackage" />
    <add key="NodeSetFile7" value="CarNodeSet.xml" />
    <add key="PackageFile7" value="Car.pckg" />
    <add key="ModelName7" value="Car"/>
    <add key="NodeTreeFile7" value ="Car.txt"/>

    <add key="Operation8" value="PackageToNodeSet" />
    <add key="PackageFile8" value="Car.pckg" />
    <add key="NodeSetFile8" value="CarNodeSet.xml" />
    <add key="ModelXmlFile8" value="Car.xml" />

  </appSettings>
</configuration>